@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');

// Variables
$main-font: 'League Spartan', sans-serif;

$dark-grey: hsl(0, 0%, 63%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$very-dark-grey: hsl(0, 0%, 27%);

// Mixins
@mixin transition-ease {
    
    transition: all 0.4s ease-in-out;

}

@mixin carousel {
    
    transition: opacity 300ms ease-in-out;

}