@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap');

// Variables
$main-font: 'League Spartan', sans-serif;

$dark-grey: hsl(0, 0%, 63%);
$black: hsl(0, 0%, 0%);
$white: hsl(0, 0%, 100%);
$very-dark-grey: hsl(0, 0%, 27%);

// Prevent scrolling when nav menu is open on mobile
.noscroll {

    overflow-y: hidden;
    position: fixed;

}

// Mixins
@mixin transition-ease {
    
    transition: all .3s ease-in-out;

}

@mixin carousel {
    
    transition: opacity 300ms ease-in-out;

}

@mixin media-sm {
    
    @media screen and(min-width: 600px) {
        
        @content;

    }

}

@mixin media-md {

    @media screen and (min-width: 900px) {
        
        @content;

    }

}

@mixin media-lg {

    @media screen and (min-width: 1024px) {
        
        @content;

    }

}