.section {

    width: 100vw;
    max-width: 375px;
    margin: 0 auto;

    &__carousel {

        width: 375px;
        height: 360px;
        position: relative;

    }

    // Slide images
    &__slide {

        position: absolute;
        inset: 0;
        opacity: 0;
        @include carousel;
        // Delay image fading out
        transition-delay: 300ms;

        img {

            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;

        }

    }

    &__slide[data-active] {

        opacity: 1;
        // Start animation immediatly on active slide
        transition-delay: 0ms;
        z-index: 1;

    }

    // Carousel Buttons
    &__carousel-btn {

        position: absolute;
        background-color: $black;
        bottom: 0;
        right: 0;
        // Remove space from bottom of arrows
        font-size: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;

        button {

            background-color: black;
            height: 3rem;
            width: 3rem;
            border: none;
            padding-top: .1rem;
            cursor: pointer;

            img {

                border: none;
                height: 30%;
                cursor: pointer;
                @include transition-ease;
                margin-top: .2rem;
    
            }

            &:hover {

                img {

                    height: 32%;

                }

            }

            &:active {

                img {

                    height: 30%;

                }

            }

        }
        

    }

    // Text carousel
    &__text {

        width: 100%;
        overflow: hidden;

        ul {

            display: flex;
            margin: 0;
            padding: 0;
            width: 300%;
            transition: all 300ms ease-in-out;

        }

        &-carousel {

            flex-basis: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

        }

    }

}

.shop-now {

    display: flex;
    justify-content: flex-start;
    align-items: center;
    letter-spacing: .75rem;
    width: 100%;

}