.section {

    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    &__carousel {

        width: 100%;
        height: 360px;
        position: relative;

    }

    // Slide images
    &__slide {

        position: absolute;
        inset: 0;
        opacity: 0;
        @include carousel;
        // Delay image fading out
        transition-delay: 300ms;

        .mobile {

            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;

        }

    }

    &__slide[data-active] {

        opacity: 1;
        // Start animation immediatly on active slide
        transition-delay: 0ms;
        z-index: 1;

    }

    // Carousel Buttons
    &__carousel-btn {

        position: absolute;
        background-color: $black;
        bottom: 0;
        right: 0;
        // Remove space from bottom of arrows
        font-size: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;

        button {

            background-color: black;
            height: 3rem;
            width: 3rem;
            border: none;
            padding-top: .1rem;
            cursor: pointer;

            img {

                border: none;
                height: 30%;
                cursor: pointer;
                @include transition-ease;
                margin-top: .2rem;
    
            }

            &:hover {

                img {

                    height: 32%;

                }

            }

            &:active {

                img {

                    height: 30%;

                }

            }

        }
        

    }

    // Text carousel
    &__text {

        width: 100%;
        height: 90%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        ul {

            li {

                position: absolute;
                padding: 2rem;
                inset: 0;
                opacity: 0;
                @include carousel;
                transition-delay: 20ms;
                display: flex;
                justify-content: center;

            }

            li[data-active] {

                opacity: 1;
                z-index: 1;

            }

        }

    }

}

.shop-now {

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    letter-spacing: .75rem;
    width: 100%;
    padding-left: 2rem;

    div {

        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 75%;

        img {

            margin-left: 1rem;

        }

    }
    

}

.dark {

    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/image-about-dark.jpg);

}

.light {

    width: 100%;
    height: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../images/image-about-light.jpg);

}

.wrapper {

    display: grid;
    width: 100%;
    align-self: center;

}

.top {

    grid-template-rows: 1fr 1.25fr;

}

.bottom {

    display: grid;
    margin-top: 1rem;
    grid-template-rows: 2fr 3fr 2fr;
    overflow: hidden;

    &__container {

        padding: 2rem;

    }

    h4 {

        letter-spacing: .35rem;

    }

}

.desktop {

    display: none;

}