.menu {


    &-btn {

        position: absolute;
        height: 20px;
        width: 28px;
        z-index: 10;
        top: 2.5rem;
        left: 2rem;
        cursor: pointer;
        opacity: .8;
        @include transition-ease;
    
        &__burger {
    
            position: absolute;
            width: 25px;
            height: 3px;
            top: .5rem;
            right: 0;
            background: $white;
            border-radius: 10px;
            @include transition-ease;
    
            &::before {
    
                position: absolute;
                content: '';
                top: -.5rem;
                background: $white;
                width: 25px;
                height: 3px;
                border-radius: 10px;
                @include transition-ease;
    
            }
    
            &::after {
    
                position: absolute;
                content: '';
                width: 23px;
                height: 3px;
                background: $white;
                top: .5rem;
                border-radius: 10px;
                z-index: 10;
                @include transition-ease;
    
            }

            &.open {

                transform: rotate(720deg);
                background: transparent;
    
                &::before {
    
                    background: $dark-grey;
                    transform: rotate(135deg);
                    top: .5rem;
    
                }

                &::after {

                    background: $dark-grey;
                    transform: rotate(45deg);
                    width: 25px;

                }
    
            }
    
        }
    
    }

    &-wrapper {

        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;

    }

    &-logo {

        position: absolute;
        z-index: 3;
        top: 2.5rem;
        opacity: .8;


    }

}



.nav {

    position: absolute;
    z-index: 4;
    overflow: hidden;
    top: -1rem;
    left: 0;
    width: 100vw;
    opacity: .96;
    height: 110vh;
    visibility: hidden;
    background-color: $dark-grey;
    transform: translateX(-100%);
    @include transition-ease;

    &__wrapper {

        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 80%;

    }

    &.open {

        visibility: visible;
        transform: translateX(0);

    }

    .menu-nav {

        height: 7.5rem;
        background-color: $white;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        opacity: 1;
        background-color: $white;
        width: 92%;
        overflow: hidden;
        position: absolute;
        transform: translateX(-100%);
        @include transition-ease;

        &.open {

            transform: translateX(0);

        }

        &__item {

            transform: translateY(-100%);
            @include transition-ease;

            &.open {

                transform: translateY(0);

            }

        }
        
        li {

            a {

                text-decoration: none;
                color: $very-dark-grey;

            }

        }


    }

}

// Delay menu items coming in
@for $i from 1 through 4 {

    .menu-nav__item:nth-child(#{$i}) {

        transition-delay: ($i * 0.1s) + 0.15s;

    }

}
