.menu {


    &-btn {

        position: absolute;
        height: 20px;
        width: 28px;
        z-index: 10;
        top: 2.5rem;
        left: 2rem;
        cursor: pointer;
        opacity: .8;
    
        &__burger {
    
            position: absolute;
            width: 25px;
            height: 3px;
            top: .5rem;
            right: 0;
            background: $white;
            border-radius: 10px;
    
            &::before {
    
                position: absolute;
                content: '';
                top: -.5rem;
                background: $white;
                width: 25px;
                height: 3px;
                border-radius: 10px;
    
            }
    
            &::after {
    
                position: absolute;
                content: '';
                width: 23px;
                height: 3px;
                background: $white;
                top: .5rem;
                border-radius: 10px;
                z-index: 10;
    
            }
    
        }
    
    }

    &-wrapper {

        display: flex;
        height: 100%;
        justify-content: center;
        align-items: center;

    }

    &-logo {

        position: absolute;
        z-index: 3;
        top: 2.5rem;
        opacity: .8;


    }

}



.nav {

    position: absolute;
    z-index: 2;
    top: -1rem;
    left: 0;
    width: 100vw;
    opacity: .96;
    visibility: hidden;

    &.open {

        visibility: visible;

    }

    .menu-nav {

        display: flex;
        height: 20vh;
        background-color: $white;
        width: 90%;
        justify-content: space-around;
        align-items: center;
        overflow: hidden;
        position: absolute;
        
        li {

            a {

                text-decoration: none;

            }

        }


    }

}
