@include media-sm {

    .nav {

        .menu-nav {

            width: 100vw;

        }

    }

    .section {

        flex-direction: row;

    }

    .wrapper {

        height: 100vh;
        width: 100vw;

        &.top {

            grid-template-rows: repeat(2, 1fr);

        }

    }

    .bottom {

        height: 100vh;
        margin-top: 0;

    }

    .menu-logo {

        left: 10rem;     

    }


    .section__text {
        
        align-items: center;

        ul {

            li {

                padding: 0;
                align-items: center;

                div {

                    h2 {

                        font-size: 1.5rem;

                    }

                    div {

                        p {

                            font-size: .8rem;

                        }

                    }

                }

            }

        }

    }

}

@include media-md {

    .menu-btn {

        visibility: hidden;

    }

    .menu-logo {

        left: 3.25rem;

    }

    .nav {

        visibility: visible;
        position: absolute;
        height: 4rem;
        transform: translateX(0);
        background: transparent;
        top: 0;
        left: 2rem;

        &__wrapper {

            justify-content: space-evenly;


        }

        .menu-nav {

            transform: translateX(0);
            background: transparent;
            height: 100%;
            width: 30%;

            &__item {

                transform: translateY(0);

            }
    
        }

    }

    .section {

        height: 100vh;
        overflow: hidden;
        flex-direction: column;

        &__text {

            justify-content: space-around;

        }

        &__carousel {

            height: 100%;

            &-btn {

                right: -6rem;

            }

            li {

                .mobile {
    
                    display: none;
    
                }
    
                .desktop {
    
                    display: block;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
        
                }
    
            }

            
        }

        &__text-carousel {

            padding: 0;
            
            div {

                width: 70%;
                h2 {

                    font-size: 2rem;

                }

                div {

                    padding: 0;
                    p {

                        font-size: .8rem;

                    }

                }

            }

        }

        &__slide-text {

            height: 50%;

        }

    }

    .wrapper {

        height: 30vh;
        grid-template-rows: none;
        width: 100%;

        &.top {

            grid-template-rows: none;
            grid-template-columns: 60% 40%;
            height: 70vh;
    
        }
    }

    .bottom {

        grid-template-rows: none;
        grid-template-columns: 30% 40% 30%;
        margin-top: 0%;

        &__container {

            padding: 1rem;

        }

        &__img {

            background-size: contain;
            

        }

    }

    .shop-now {

        margin-top: 10rem;
        width: 75%;

    }
}