@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap");
.noscroll {
  overflow-y: hidden;
  position: fixed;
}

.menu-btn {
  position: absolute;
  height: 20px;
  width: 28px;
  z-index: 10;
  top: 2.5rem;
  left: 2rem;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.3s ease-in-out;
}
.menu-btn__burger {
  position: absolute;
  width: 25px;
  height: 3px;
  top: 0.5rem;
  right: 0;
  background: hsl(0deg, 0%, 100%);
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.menu-btn__burger::before {
  position: absolute;
  content: "";
  top: -0.5rem;
  background: hsl(0deg, 0%, 100%);
  width: 25px;
  height: 3px;
  border-radius: 10px;
  transition: all 0.3s ease-in-out;
}
.menu-btn__burger::after {
  position: absolute;
  content: "";
  width: 23px;
  height: 3px;
  background: hsl(0deg, 0%, 100%);
  top: 0.5rem;
  border-radius: 10px;
  z-index: 10;
  transition: all 0.3s ease-in-out;
}
.menu-btn__burger.open {
  transform: rotate(720deg);
  background: transparent;
}
.menu-btn__burger.open::before {
  background: hsl(0deg, 0%, 63%);
  transform: rotate(135deg);
  top: 0.5rem;
}
.menu-btn__burger.open::after {
  background: hsl(0deg, 0%, 63%);
  transform: rotate(45deg);
  width: 25px;
}
.menu-wrapper {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.menu-logo {
  position: absolute;
  z-index: 3;
  top: 2.5rem;
  opacity: 0.8;
}

.nav {
  position: absolute;
  z-index: 4;
  overflow: hidden;
  top: -1rem;
  left: 0;
  width: 100vw;
  opacity: 0.96;
  height: 110vh;
  visibility: hidden;
  background-color: hsl(0deg, 0%, 63%);
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
}
.nav__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
.nav.open {
  visibility: visible;
  transform: translateX(0);
}
.nav .menu-nav {
  height: 7.5rem;
  background-color: hsl(0deg, 0%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  opacity: 1;
  background-color: hsl(0deg, 0%, 100%);
  width: 92%;
  overflow: hidden;
  position: absolute;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
}
.nav .menu-nav.open {
  transform: translateX(0);
}
.nav .menu-nav__item {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out;
}
.nav .menu-nav__item.open {
  transform: translateY(0);
}
.nav .menu-nav li a {
  text-decoration: none;
  color: hsl(0deg, 0%, 27%);
}

.menu-nav__item:nth-child(1) {
  transition-delay: 0.25s;
}

.menu-nav__item:nth-child(2) {
  transition-delay: 0.35s;
}

.menu-nav__item:nth-child(3) {
  transition-delay: 0.45s;
}

.menu-nav__item:nth-child(4) {
  transition-delay: 0.55s;
}

.noscroll {
  height: 100%;
  overflow: hidden;
}

.section {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.section__carousel {
  width: 100%;
  height: 360px;
  position: relative;
}
.section__slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  transition-delay: 300ms;
}
.section__slide .mobile {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section__slide[data-active] {
  opacity: 1;
  transition-delay: 0ms;
  z-index: 1;
}
.section__carousel-btn {
  position: absolute;
  background-color: hsl(0deg, 0%, 0%);
  bottom: 0;
  right: 0;
  font-size: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;
}
.section__carousel-btn button {
  background-color: black;
  height: 3rem;
  width: 3rem;
  border: none;
  padding-top: 0.1rem;
  cursor: pointer;
}
.section__carousel-btn button img {
  border: none;
  height: 30%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 0.2rem;
}
.section__carousel-btn button:hover img {
  height: 32%;
}
.section__carousel-btn button:active img {
  height: 30%;
}
.section__text {
  width: 100%;
  height: 90%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.section__text ul li {
  position: absolute;
  padding: 2rem;
  inset: 0;
  opacity: 0;
  transition: opacity 300ms ease-in-out;
  transition-delay: 20ms;
  display: flex;
  justify-content: center;
}
.section__text ul li[data-active] {
  opacity: 1;
  z-index: 1;
}

.shop-now {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  letter-spacing: 0.75rem;
  width: 100%;
  padding-left: 2rem;
}
.shop-now div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 75%;
}
.shop-now div img {
  margin-left: 1rem;
}

.dark {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/image-about-dark.jpg);
}

.light {
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../images/image-about-light.jpg);
}

.wrapper {
  display: grid;
  width: 100%;
  align-self: center;
}

.top {
  grid-template-rows: 1fr 1.25fr;
}

.bottom {
  display: grid;
  margin-top: 1rem;
  grid-template-rows: 2fr 3fr 2fr;
  overflow: hidden;
}
.bottom__container {
  padding: 2rem;
}
.bottom h4 {
  letter-spacing: 0.35rem;
}

.desktop {
  display: none;
}

@media screen and (min-width: 600px) {
  .nav .menu-nav {
    width: 100vw;
  }
  .section {
    flex-direction: row;
  }
  .wrapper {
    height: 100vh;
  }
  .wrapper.top {
    grid-template-rows: repeat(2, 1fr);
  }
  .bottom {
    height: 100vh;
    margin-top: 0;
  }
  .menu-logo {
    left: 10rem;
  }
  .section__text ul li {
    padding: 1rem;
  }
  .section__text ul li div h2 {
    font-size: 1.5rem;
  }
  .section__text ul li div div p {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 800px) {
  .menu-btn {
    visibility: hidden;
  }
  .menu-logo {
    left: 3.25rem;
  }
  .nav {
    visibility: visible;
    position: absolute;
    height: 4rem;
    transform: translateX(0);
    background: transparent;
    top: 0;
    left: 2rem;
  }
  .nav__wrapper {
    justify-content: space-evenly;
  }
  .nav .menu-nav {
    transform: translateX(0);
    background: transparent;
    height: 100%;
    width: 30%;
  }
  .nav .menu-nav__item {
    transform: translateY(0);
  }
  .section {
    height: 100vh;
    overflow: hidden;
    flex-direction: column;
  }
  .section__text {
    justify-content: space-evenly;
  }
  .section__carousel {
    height: 100%;
  }
  .section__carousel-btn {
    right: -6rem;
  }
  .section__carousel li .mobile {
    display: none;
  }
  .section__carousel li .desktop {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center;
  }
  .section__text-carousel {
    margin-top: 3rem;
  }
  .section__text-carousel div {
    padding: 2.5rem;
  }
  .section__text-carousel div h2 {
    font-size: 2rem;
  }
  .section__text-carousel div div {
    padding: 0;
  }
  .section__text-carousel div div p {
    font-size: 0.8rem;
  }
  .section__slide-text {
    height: 50%;
  }
  .wrapper {
    height: 30vh;
    grid-template-rows: none;
  }
  .wrapper.top {
    grid-template-rows: none;
    grid-template-columns: 2fr 1fr;
    height: 70vh;
  }
  .bottom {
    grid-template-rows: none;
    grid-template-columns: 30% 40% 30%;
    height: 30vh;
    margin-top: 0%;
  }
  .bottom__container {
    padding: 1rem;
  }
  .bottom__img {
    background-size: contain;
  }
  .shop-now {
    padding-left: 3.5rem;
  }
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "League Spartan", sans-serif;
  height: 100vh;
}

ul {
  list-style-type: none;
}

p {
  color: hsl(0deg, 0%, 63%);
  line-height: 1.5rem;
}

h2 {
  font-size: 2.5rem;
  margin: 1.5rem 0 0.5rem 0;
}

main {
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */