@import 'config', 'menu', 'home' , 'responsive';

body {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: $main-font;
    height: 100vh;

}

ul {

    list-style-type: none

}

p {

    color: $dark-grey;
    line-height: 1.5rem;

}

h2 {

    font-size: 2.5rem;
    margin: 1.5rem 0 .5rem 0;

}

main {

    height: 100vh;
    width: 100vw;
    margin: 0 auto;

}